<div id="chatroom-container" class="row bg-secondary text-light">
  <div id="side-panel" class="col-md-4 col-sm-4">
    <div class="d-flex align-items-center justify-content-between current-user-logged-in">
      <div class="icon-container mt-2">
        <%= link_to image_tag(current_user.chat_avatar, class: "chat-pfp") %>
        <%= turbo_stream_from :user_status %>

        <div><%= render "users/status", user: current_user %></div>
      </div>
      <div class="no-underline ms-2 me-auto username text-dark"><%= current_user.email %></div>
    </div>

    <h4>Users</h4>
    <% # create & subcribe users channel %>
    <%= turbo_stream_from(:users) %>
    <div id="js-users">
      <%= render @users %>
    </div>

    <h4>Rooms</h4>
    <%= render 'form' %>
    <% # create & subcribe rooms channel %>
    <%= turbo_stream_from(:rooms) %>
    <div id="js-rooms">
      <%= render @rooms %>
    </div>
  </div>

  <div id="room-container" class="col-md-8 col-sm-8 bg-secondary text-light">
    <% if @current_room %>
      <div id="single-room">
        <h4 class="text-center"><%= @user&.email || @current_room.name %></h4>

        <% # create & subcribe room channel %>
        <%= turbo_stream_from(@current_room) %>
        <div id="js-messages" class="messages" data-controller="scroll">
          <%= render @messages %>
        </div>

        <%= render 'messages/form' %>
      </div>
    <% end %>
  </div>
</div>
